body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.login__block{
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login__block h1{
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.login__block input, .login__block button{
    padding: 0 10px;
    height: 40px;
    font-size: 22px;
    font-weight: 600;
    border: 2px solid black;
    border-radius: 10px;
}

.login__block button{
    cursor: pointer;
}

.login__block p{
    text-align: center;
    color: red;
}